streamlit
chromadb==0.4.24
PyPDF2
langchain
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq
sentence-transformers
python-dotenv

# 🔥 CRITICAL FIXES
protobuf==3.20.3
opentelemetry-api==1.24.0
opentelemetry-sdk==1.24.0
